extends layout

block content

	#loader
		.cssload-box-loading
	
	.container.maincont(onload="setTimeout(delLoad(),5000)")
		.row
			.col-md-12
				nav.navbar.navbar-inverse(role='navigation')
					a.navbar-brand.title-name(href='#' ng-click="getJN();") Todo List

		.row
			.col-md-4.left-sidebar
				ul.list-group
					li.list-group-item.addnewmainlist(style='display: none !important;')
						.row
							.col-md-9
								a(href='#')
									input.add-input(placeholder='Name' ng-model='Iname') 							
							.col-md-1
								a(href='#' ng-click='SetNewItem(Iname);')
									img.add-ok(src='images/add-ok.png')
							.col-md-1
								a(href='#' ng-click='SetNewCancel();')
									img.add-not(src='images/add-not.png')
					li.list-group-item(ng-repeat="item in list.items")
						a.link-do(href='#' ng-click="getDoes(item._id);") {{item.date}} {{item.name}} 
						span.badge {{item.does.length}}
					
					li.list-group-item.text-center
						a.link-do(href='#')
							button.btn.btn-success.btn-add(type='button' ng-click='addItem();') Добавить
			.col-md-8(data-ng-init="getDoes();"  ng-if="checkAva()")
				.panel.panel-default
					.panel-heading
						p=' 25.02.17 (Покупки)'
					.panel-body
						.row.does-add-row
							
								
									
							.col-md-12(ng-repeat="item in Doid.elem")
								form
									input.add-input.does-inp(placeholder='Name' ng-model='DoName')
									button(ng-click='setNewDo(item._id, DoName)' style="display:none")
							
								a.does-but(href='#' ng-click='setNewDo(item._id, DoName)')
									img.add-ok(src='images/add-ok.png')
							
								a.does-but(href='#' ng-click='SetDoCancel();')
									img.add-not(src='images/add-not.png')
						table.table

							tbody(ng-repeat="item in currentDo.items")
								tr
									td 
										input(type='checkbox' ng-checked="{{item.check}}" )
									td.text-left {{item.name}}
									td {{item.time}}
									



						button.btn.btn-success.btn-add-do(type='button' ng-click="openAddDo()" ) Добавить задачу
		.row
			.col-md-12
				.jumbotron
					h1() Todo List
					p() Управляйте вашими задачами и проектами где угодно с помощью TodoList. Дома. На работе. Онлайн. Оффлайн.
				



					
						




									

					

					
						




				

	
		




