extends layout

block content
	
	.container
		.row
			.col-md-12
				nav.navbar.navbar-inverse(role='navigation')
					a.navbar-brand.title-name(href='#') Todo List

		.row
			.col-md-4
				ul.list-group
					li.list-group-item.addnewmainlist(style='display: none !important;')
						.row
							.col-md-9
								a(href='#')
									input.add-input(placeholder='Name') 							
							.col-md-1
								a(href='#')
									img.add-ok(src='images/add-ok.png')
							.col-md-1
								a(href='#')
									img.add-not(src='images/add-not.png')
					li.list-group-item(ng-repeat="item in list.items")
						a.link-do(href='#') {{item.date}} {{item.name}}
						span.badge {{item.count}}
					
					li.list-group-item.text-center
						a.link-do(href='#')
							button.btn.btn-success.btn-add(type='button' ng-click='addItem();') Добавить
			.col-md-8
				.panel.panel-default
					.panel-heading
						p=' 25.02.17 (Покупки)'
					.panel-body
						table.table

							tbody
								tr
									td 
										input(type='checkbox')
									td.mmm Купить молоко
									td 13:07
									
								tr
									td 
										input(type='checkbox')
									td Купить хлеб
									td 13:08
								tr
									td 
										input(type='checkbox')
									td Купить марковку
									td 13:08
								tr
									td 
										input(type='checkbox')
									td Купить укроп
									td 13:09
						button.btn.btn-success.btn-add-do(type='button') Добавить задачу

									

					

					
						




				

	
		




