extends layout

block content
	script(src='/bootstrap/js/bootstrap.min.js')
	.container
		.row
			.col-md-12
				nav.navbar.navbar-inverse(role='navigation')
					a.navbar-brand(href='#') Todo List

		.row
			.col-md-4
				ul.list-group
					li.list-group-item
						.row
							.col-md-9
								a(href='#')
									input.add-input(placeholder='Name') 							
							.col-md-1
								a(href='#')
									img.add-ok(src='images/add-ok.png')
							.col-md-1
								a(href='#')
									img.add-not(src='images/add-not.png')
					li.list-group-item
						a.link-do(href='#') 25.02.17 (Покупки)
						span.badge 14
					li.list-group-item
						a.link-do(href='#') 23.02.17 (Список дел)
						span.badge 3
					li.list-group-item 
						a.link-do(href='#') 19.02.17 (Позвонить)
						span.badge 8
					li.list-group-item
						a.link-do(href='#') 15.02.17 (Оплатить счета)
						span.badge 2
					li.list-group-item
						a.link-do(href='#') 14.02.17 (Покупки)
						span.badge 1
					li.list-group-item
						a.link-do(href='#') 12.02.17 (Список дел)
						span.badge 6
					li.list-group-item.text-center
						a.link-do(href='#')
							button.btn.btn-success.btn-add(type='button') Добавить
			.col-md-8
				.panel.panel-default
					.panel-heading
						p=' 25.02.17 (Покупки)'
					.panel-body
						table.table

							tbody
								tr
									td 
										input(type='checkbox')
									td.mmm Купить молоко
									td 13:07
									
								tr
									td 
										input(type='checkbox')
									td Купить хлеб
									td 13:08
								tr
									td 
										input(type='checkbox')
									td Купить марковку
									td 13:08
								tr
									td 
										input(type='checkbox')
									td Купить укроп
									td 13:09
						button.btn.btn-success.btn-add-do(type='button') Добавить задачу

									

					

					
						




				

	
		




