doctype html
html(ng-app="purchaseApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')

  body(ng-controller="purchaseController" data-ng-init="loadPage();")
    block content
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src="/angular/angular.min.js")
  script(src='/js/common.js')
