doctype html
html(ng-app="purchaseApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')

  body(ng-controller="purchaseController")
    block content
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js")
  script(src='/js/common.js')
